/* Typography
---------------------------------------------------------------------------- */

.site-container p.has-drop-cap:not(:focus)::first-letter { font-size: 7.5em; margin: 0.16em 0.08em 0 -0.035em; }
.authority-text-align { text-align: center; }
@media (min-width:768px) {
	.authority-text-align { text-align: left; }
}
@media (min-width:992px) {
	.bold-heading-text { font-size: 42px; }
}
@media (min-width:1199px) {
	.bold-heading-text { font-size: 52px; margin-left: 0; margin-bottom: 35px; margin-top: 60px; }
	.block-content-indent,
	.wp-block-buttons .block-content-indent { margin-left: 35px; }
}

/* Paragraphs
---------------------------------------------------------------------------- */
.entry-content > .alignfull:not(.has-background) > .wp-block-group__inner-container > p:not(.has-background-color) { padding-left: 30px; padding-right: 30px; }

/* Background Color
---------------------------------------------------------------------------- */
.site-container p.has-background { padding: 25px 30px; }
.site-container p.has-text-color a,
.site-container p.has-background a { color: inherit; }
.site-container p.has-text-color a:focus,
.site-container p.has-background a:focus,
.site-container p.has-text-color a:hover,
.site-container p.has-background a:hover { color: inherit; }

/* Alignment
---------------------------------------------------------------------------- */
.wp-block-button.alignleft,
.wp-block-buttons.alignleft,
.wp-block-cover.alignleft,
.wp-block-image .alignleft { margin-right: 2em; }
.wp-block-button.alignright,
.wp-block-buttons.alignright,
.wp-block-cover.alignright,
.wp-block-image .alignright { margin-left: 2em; }
.wp-block-image.alignwide,
.wp-block-image.alignfull,
.wp-block-embed.alignwide,
.wp-block-embed.alignfull { margin-bottom: 2em; }
.content-sidebar .site-container .alignfull,
.sidebar-content .site-container .alignfull { margin: 0 0 2em; width: 100%; }
.has-text-align-center { text-align: center; }
.has-text-align-left { text-align: left; }
.has-text-align-right { text-align: right; }

/* Columns
---------------------------------------------------------------------------- */
.wp-block-column { position: relative; }
.site-container .wp-block-cover .wp-block-cover-text { font-size: 36px; }

/* Buttons
---------------------------------------------------------------------------- */
.gb-button,
.wp-block-button .wp-block-button__link { transition: background-color 0.25s ease-in, border-color ease-in, transform 0.75s cubic-bezier(0.44, 0.51, 0.24, 0.99), box-shadow 1s cubic-bezier(0.44, 0.51, 0.24, 0.99); }
.site-container .gb-button { transform: translate3d(0, 0, 0); }
.site-container .wp-block-button .wp-block-button__link { border: none; cursor: pointer; transform: translate3d(0, 0, 0); white-space: normal; width: auto; }

/* Button Variations */
.site-container .wp-block-button.is-style-outline .wp-block-button__link { background-color: transparent; border: 1px solid; }
.site-container .gb-button:focus,
.site-container .gb-button:hover,
.site-container .wp-block-button .wp-block-button__link:focus,
.site-container .wp-block-button .wp-block-button__link:hover,
.site-container .wp-block-button.is-style-outline .wp-block-button__link:focus,
.site-container .wp-block-button.is-style-outline .wp-block-button__link:hover { transform: translate3d(0, -3px, 0); }

/* Media and Image Blocks
---------------------------------------------------------------------------- */
.wp-block-video video,
.wp-block-media-text__media img { border-radius: 0; width: 100%; z-index: 1; display: flex; justify-content: center; align-items: center; padding: 0; position: relative; z-index: 2; }
.wp-block-media-text.has-media-on-the-right { grid-template-columns: 50% 1fr; }
.wp-block-media-text.image-border { position: relative; }
.wp-block-media-text.image-border .wp-block-media-text__media { position: relative; }
.wp-block-media-text.image-border.has-media-on-the-right .wp-block-media-text__media::after { left: auto; right: 0; }
.wp-block-media-text.image-border.has-media-on-the-right .wp-block-media-text__media::before { left: auto; right: 20px; }
.wp-block-media-text.image-border .wp-block-media-text__media img { width: auto; max-width: 445px; margin: auto; border: 10px solid #fff; background-color: #f4f4f4; }
.wp-block-media-text.image-border .wp-block-media-text__content { padding: 0; }
@media (min-width:768px) {
    .wp-block-media-text.image-border .wp-block-media-text__media::after { content: ''; display: block; width: 40px; border-bottom: 5px solid var(--primary); position: absolute; left: 0; top: 110px; z-index: 1; }
    .wp-block-media-text.image-border .wp-block-media-text__media::before { content: ''; display: block; position: absolute; width: 111.555%; height: calc(100% - 100px); background-color: #f4f4f4; top: 50px; left: 20px; }
	.wp-block-media-text.image-border .wp-block-media-text__content { margin-left: -6.667%; padding-right: 10%; z-index: 1; }
	.wp-block-media-text.image-border.has-media-on-the-right .wp-block-media-text__content { margin-left: 0; margin-right: -6.667%; padding-right: 0; padding-left: 10%; }
    .wp-block-media-text.image-border .wp-block-media-text__media { z-index: 0; position: relative; }
}
@media (min-width:1536px) {
	.wp-block-media-text.image-border .wp-block-media-text__content { margin-left: -3.667%; padding-right: 0; }
	.wp-block-media-text.image-border.has-media-on-the-right .wp-block-media-text__content { margin-left: 0; margin-right: -3.667%; padding-right: 0; padding-left: 0; }
}
@media (max-width:1199px) {
    .wp-block-media-text.image-border .wp-block-media-text__media img { max-width: 75%; }
}
@media (max-width:767px) {
    .wp-block-media-text .wp-block-media-text__content { padding-top: 30px; }
    .wp-block-media-text.image-border { display: block; }
    .wp-block-media-text.image-border .wp-block-media-text__media { margin-bottom: 30px !important; }
    .wp-block-media-text.image-border .wp-block-media-text__media img { max-width: 100%; }
    .wp-block-media-text.image-border .wp-block-media-text__media img, .wp-block-video video { box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.10); padding: 0; margin-bottom: 50px; }
	.wp-block-media-text.image-border .wp-block-media-text__media { text-align: center; }
	.wp-block-media-text.image-border .wp-block-media-text__content { margin: 0; padding: 0; text-align: left; }
	.wp-block-media-text.image-border.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__content { -ms-grid-column: 1; grid-column: 1; -ms-grid-row: 2; grid-row: 2; }
	.wp-block-media-text.image-border.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__media { -ms-grid-column: 1; grid-column: 1; -ms-grid-row: 1; grid-row: 1; }
}

/* Blockquotes and captions
---------------------------------------------------------------------------- */
.site-container .wp-block-quote { border-left: 3px solid #90a62c; padding: 0 0 0 30px; margin: 0 0 30px; text-align: left; }
.site-container .wp-block-pullquote { border: none; margin: 24px 0 36px; }
.wp-block-pullquote.alignleft { margin: 0 2em 1.5em 0; }
.wp-block-pullquote.alignright { margin: 0 0 1.5em 2em; }
.site-container .wp-block-pullquote.is-style-solid-color blockquote { max-width: 80%; }
.site-container .wp-block-pullquote.is-style-solid-color:not(.has-text-color) blockquote { color: #fff; }
.site-container .wp-block-pullquote:not(.is-style-solid-color)[style*="border-color"] { border: 2px solid; border-left: none; border-right: none; }
.site-container .wp-block-quote p, 
.site-container .wp-block-pullquote p { font-weight: 300; font-size: 1.2em; line-height: 1.4; font-style: normal; }
.site-container .wp-block-quote p:last-child, 
.site-container .wp-block-pullquote p:last-child { margin-bottom: 0; }
.site-container .wp-block-pullquote p { text-align: center; }
.site-container .wp-block-pullquote p,
.site-container .wp-block-pullquote.is-style-solid-color blockquote p,
.site-container .wp-block-quote.is-style-large p,
.site-container .wp-block-quote.is-style-large cite { font-size: 30px; color: #000; }
.site-container .wp-block-quote cite,
.site-container .wp-block-pullquote cite { display: block; font-size: 14px; font-style: normal; font-weight: 700; letter-spacing: 0.08em; margin-top: -25px; text-align: inherit; text-transform: uppercase; }
.site-container .wp-block-pullquote cite { margin-top: 40px; text-align: center; }
.site-container .wp-block-pullquote.is-style-solid-color cite { text-transform: uppercase; }
.site-container .wp-block-quote[class*="align"] cite,
.site-container .wp-block-pullquote[class*="align"] cite { text-align: center; }
.wp-block-image.vertical-caption img { margin-right: 0; }
.wp-block-image.vertical-caption figcaption { margin-top: 0; transform: none; text-align: center; }
.wp-block-image.vertical-caption figcaption a { color: #111; text-decoration: none; }
.wp-block-image.vertical-caption figcaption a:focus,
.wp-block-image.vertical-caption figcaption a:hover { color: #000cff; }
.blocks-gallery-caption { width: 100%; }
.blocks-gallery-item figcaption { margin-bottom: 0; }
@media (min-width:1199px) {
	.wp-block-image.vertical-caption img { margin-right: 30px; }
	.wp-block-image.vertical-caption figcaption { margin-top: 10px; transform: rotateZ(-90deg) translateX(100%); transform-origin: right bottom; }
}
@media (max-width:991px) {
	.site-container .wp-block-quote::before,
	.site-container .wp-block-pullquote blockquote::before { position: relative; left: -8px; height: 1em; top: auto; }
}
@media (max-width:767px) {
    .site-container .wp-block-quote p, 
    .site-container .wp-block-pullquote p { font-size: 1.1em; }
    .site-container .wp-block-quote.is-style-large p,
    .site-container .wp-block-quote.is-style-large cite { font-size: 24px; }
}
@media (max-width:576px) {
    .site-container .wp-block-quote.is-style-large p,
    .site-container .wp-block-quote.is-style-large cite { font-size: 20px; }
}

/* Category Block
---------------------------------------------------------------------------- */
.site-container .wp-block-categories { margin-left: 0; padding-left: 0; }
.site-container .wp-block-categories li { list-style-type: none; }
.site-container .wp-block-categories.aligncenter { text-align: center; }
.site-container .wp-block-categories.alignfull { padding: 0 30px; }
.site-container .wp-block-categories .children { padding-left: 30px; }

/* Latest Posts Block
---------------------------------------------------------------------------- */
.site-container .wp-block-latest-posts { margin-left: 0; padding-left: 0; }
.site-container .wp-block-latest-posts li { list-style-type: none; }
.site-container .wp-block-latest-posts.aligncenter { text-align: center; }
.site-container .wp-block-latest-posts.alignfull { padding: 0 30px; }

/* Other Blocks
---------------------------------------------------------------------------- */

.wp-block-verse,
.wp-block-preformatted { font-size: 16px; }
.wp-block-preformatted { white-space: pre-wrap; }
hr.wp-block-separator { border: none; border-bottom: 8px solid; color: #eee; margin: 30px 0 25px; }
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) { max-width: 145px; }
.wp-block-separator.is-style-dots { color: #111; }
.wp-block-table.is-style-stripes { border-bottom-width: 0; }
.wp-block-audio audio { display: inline-block; width: 100%; }
.site-container .blocks-gallery-grid { padding-left: 0; }
.site-container .wp-block-social-links { margin-left: 0; padding-left: 0; }

/* Genesis Blocks
---------------------------------------------------------------------------- */
@media (max-width:991px) {
	.site-container .wp-block-column { flex-basis: 100%; margin-left: 0; margin-right: 0; }
}
